@font-face {
    font-family: 'Helvetica', monospace;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica', monospace;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica', monospace;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica', monospace;
    font-weight: 700;
    font-style: italic;
}

#background {
    background: url('http://i.stack.imgur.com/GySvQ.png');
}

body {
    padding: 70px;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.projHead{
    max-width: fit-content;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    background-color: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 20px
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
    background-color: #ffffff;
    max-width: fit-content;
    text-overflow: clip;
    overflow: hidden;
    white-space:normal;
}

.contentSnip {
    text-align: justify;
    background-color: #ffffff;
    max-width: 470px;
    text-overflow: clip;
    overflow: hidden;
    white-space:normal;
}

h1, h2, h3 {
    line-height: 1.1;
    background-color: #ffffff;
}

h1 {
    font-size: 28px
}

h2 {
    color: #10316B
}

h3, h4, h5, h6 {
    color: #494949
}

a {
    color: #E25822;
    text-decoration: none
}

a:hover, a:focus {
    color: #ED8240;
    font-weight: bold
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block
}

a:hover small {
    color: #777
}

.wrapper {
    width: 860px;
    margin: 0 auto
}


header {
    max-width:fit-content;
    -webkit-font-smoothing: subpixel-antialiased
}

strong {
    color: #222;
    font-weight: 700
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px
}

small {
    font-size: 11px
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased
}
